@media screen and (min-width: 900px) {
  body {
    width: 1340px;
  }

  header {
    width: 1335px !important;
  }

  main {
    width: 1335px !important;
  }

  footer {
    width: 1335px !important;
  }

  .tel {
    width: 50px !important;
    height: 50px !important;
  }

/*HEADER*/

 .start {
    width: 1335px !important;
 }

  .el {
    width: 670px !important;
    font-size: 2.5rem !important;
  }

  .navigation {
    width: 670px !important;
   
    &__menu {
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-evenly !important; 
    }
  }

  .link {
    font-size: 20px !important;
  }

  .link:hover {
    font-size:23px !important;
  }

  .billboard {
    font-size: 20px !important;
  }

  .mainheader {
    font-size: 20px !important;
  }

 /*FOOTER*/

  .botton {
    width: 670px !important;
    font-size: 20px !important;
    position: relative !important;
  }

  /*main*/

  .section__main {
    width: 1335px !important;
    justify-content: center;
  }

 .paragraph__main {
    font-size: 3rem !important;
  }

  .section__area {
    width: 1335px !important;
  }

  .area__towns {
    font-size: 20px !important;
  }

  .li__offer{
    font-size: 2rem !important; 
  }

  .paragraph__contact {
    font-size: 2rem !important;
  } 

}
