@media screen and (min-width: 900px) {
  body {
    width: 1340px; }
  header {
    width: 1335px !important; }
  main {
    width: 1335px !important; }
  footer {
    width: 1335px !important; }
  .tel {
    width: 50px !important;
    height: 50px !important; }
  /*HEADER*/
  .start {
    width: 1335px !important; }
  .el {
    width: 670px !important;
    font-size: 2.5rem !important; }
  .navigation {
    width: 670px !important; }
    .navigation__menu {
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-evenly !important; }
  .link {
    font-size: 20px !important; }
  .link:hover {
    font-size: 23px !important; }
  .billboard {
    font-size: 20px !important; }
  .mainheader {
    font-size: 20px !important; }
  /*FOOTER*/
  .botton {
    width: 670px !important;
    font-size: 20px !important;
    position: relative !important; }
  /*main*/
  .section__main {
    width: 1335px !important;
    justify-content: center; }
  .paragraph__main {
    font-size: 3rem !important; }
  .section__area {
    width: 1335px !important; }
  .area__towns {
    font-size: 20px !important; }
  .li__offer {
    font-size: 2rem !important; }
  .paragraph__contact {
    font-size: 2rem !important; } }

html {
  box-sizing: border-box; }

*,
*:after,
*::before {
  box-sizing: inherit; }

@font-face {
  font-family: "Black Ops One', sans-serif";
  src: url("https://fonts.googleapis.com/css?family=Black+Ops+One&subset=latin,latin-ext"); }

body {
  background-color: white; }

header {
  width: 360px;
  height: 190px;
  padding: 5px;
  background-color: black; }

main {
  width: 360px;
  height: 512px;
  padding: 5px; }

footer {
  width: 360px;
  height: 110px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  background-color: black; }

.tel {
  width: 30px;
  height: 30px; }

h3 {
  font-family: "Black Ops One", sans-serif;
  font-size: 3rem; }

/*HEADER*/
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.start {
  width: 369px;
  height: 95px; }

.el {
  width: 180px;
  height: 95px;
  font-family: "Black Ops One", sans-serif;
  font-size: 1.5rem;
  color: yellow; }

.navigation {
  width: 180px;
  height: 95px;
  font-family: "Black Ops One", sans-serif;
  text-align: end; }
  .navigation__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .navigation__menu--li {
    display: inline-block; }

.link {
  text-decoration: none;
  font-size: 10px;
  font-weight: bolder;
  color: yellow; }

.link:hover {
  font-size: 13px; }

.contact {
  transform: rotate(0deg);
  animation: contact 1s ease 1s infinite alternate none; }

.billboard {
  font-family: "Black Ops One", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  color: yellow;
  animation: animacja 5s ease 1s infinite alternate none; }

.mainheader {
  text-align: center;
  font-family: "Black Ops One", sans-serif;
  font-size: 1rem;
  color: yellow; }

/*Footer*/
.botton {
  width: 180px;
  height: 96px;
  text-align: end;
  font-family: "Black Ops One", sans-serif;
  font-size: 10px;
  color: yellow; }

/*MAIN*/
.section__main {
  width: 360px;
  height: 256px;
  display: flex;
  align-items: center; }

.paragraph__main {
  text-align: center;
  font-family: "Black Ops One", sans-serif;
  font-size: 1.5rem; }

.uwaga {
  margin: 2rem;
  transform: rotate(35deg); }

.uwaga__one {
  margin: 2rem; }

.section__area {
  width: 360px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.area {
  display: inline; }
  .area__towns {
    font-family: "Black Ops One", sans-serif;
    font-size: 15px;
    display: inline-block;
    transform: rotate(45deg); }

/*OFFER*/
.section__offer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.li__offer {
  display: inline;
  font-family: "Black Ops One", sans-serif;
  font-size: 1rem;
  text-decoration: underline; }

/*Contact*/
.section__contact {
  display: flex;
  flex-direction: column;
  align-items: center; }

.paragraph__contact {
  text-align: center;
  font-family: "Black Ops One", sans-serif;
  font-size: 1rem; }

/*ANNIMACJE*/
@keyframes contact {
  0% {
    rotate: 10deg; } }

@keyframes animacja {
  0% {
    margin-left: 0;
    background: black; }
  25% {
    margin-left: 5%;
    background: #1a1919; }
  50% {
    margin-left: 15%;
    background: #777573; }
  75% {
    margin-left: 30%;
    background: #3a3b3a; }
  100% {
    margin-left: 60%;
    background: #0a0c0a; } }
