html {
  box-sizing: border-box; }

*,
*:after,
*::before {
  box-sizing: inherit; }

@font-face {
  font-family: "Black Ops One', sans-serif";
  src: url("https://fonts.googleapis.com/css?family=Black+Ops+One&subset=latin,latin-ext"); }

body {
  background-color: white; }

header {
  background-color: black;
  width: 360px;
  height: 190px; }

main {
  background-color: gray;
  width: 360px;
  height: 512px; }

footer {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 360px;
  height: 95px; }

.el {
  width: 180px;
  height: 95px;
  color: yellow;
  font-size: 1.5rem;
  font-family: 'Black Ops One', sans-serif; }

.start {
  width: 369px;
  height: 95px; }

.section__main {
  width: 360px;
  height: 256px;
  display: flex;
  align-items: center; }

.paragraph__main {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Black Ops One', sans-serif; }

.Section__area {
  width: 360px;
  height: 256px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column; }

.area {
  display: inline; }
  .area__towns {
    font-family: 'Black Ops One', sans-serif;
    transform: rotate(45deg);
    display: inline-block;
    font-size: 15px; }

.botton {
  width: 180px;
  height: 96px;
  font-family: 'Black Ops One', sans-serif;
  font-size: 10px;
  color: yellow; }

.mainheader {
  text-align: center;
  font-family: 'Black Ops One', sans-serif;
  font-size: 1rem;
  color: yellow; }

h3 {
  font-family: 'Black Ops One', sans-serif;
  font-size: 4rem; }

.navigation {
  width: 180px;
  height: 95px;
  font-family: 'Black Ops One', sans-serif; }
  .navigation__menu {
    list-style: none; }
  .navigation__menu--li {
    display: inline-block; }

.link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  color: yellow; }

.link:hover {
  font-size: 3rem; }

.gora {
  display: flex; }

.uwaga {
  transform: rotate(35deg);
  margin: 2rem; }

.uwaga__one {
  margin: 2rem; }

.contact {
  transform: rotate(0deg);
  animation: ani 0.5s ease 1s infinite alternate none; }

@keyframes ani {
  0% {
    rotate: 35deg; } }

.tel {
  margin-right: 1rem; }

.billboard {
  color: yellow;
  font-weight: bolder;
  font-size: 1rem;
  font-family: 'Black Ops One', sans-serif;
  transform: perspective(23rem);
  animation: animacja 5s ease 1s infinite alternate none; }

.name:hover {
  animation-play-state: paused; }

@keyframes animacja {
  0% {
    margin-left: 0;
    background: black; }
  25% {
    margin-left: 5%;
    background: #1a1919; }
  50% {
    margin-left: 15%;
    background: #777573; }
  75% {
    margin-left: 30%;
    background: #3a3b3a; }
  100% {
    margin-left: 60%;
    background: #0a0c0a; } }
