html {
  box-sizing: border-box; }

*,
*:after,
*::before {
  box-sizing: inherit; }

@font-face {
  font-family: "Black Ops One', sans-serif";
  src: url("https://fonts.googleapis.com/css?family=Black+Ops+One&subset=latin,latin-ext"); }

body {
  font-family: "Black Ops One", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 24, 5vw);
  grid-template-rows: repeat(13, 10vh);
  cursor: url("icon.png"), pointer;
  justify-content: center; }

/*possition*/
header {
  grid-column: 1 / 5;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  grid-row: 1 / 5; }

main {
  grid-column: 1 / 5;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  grid-row: 5 / 12;
  background-color: white;
  justify-content: center; }

footer {
  grid-column: 1 / 5;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  grid-row: 14 / 15;
  flex-direction: row;
  justify-content: center; }

.mainheader {
  text-align: center;
  font-size: 5vmin;
  color: yellow; }

h2 {
  font-size: 4vmin; }

/*HEADER*/
.top {
  width: 95vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.intro {
  width: 95vw;
  height: 15vh; }

.name {
  width: 50vw;
  height: 15vh;
  font-size: 6vmin;
  color: yellow; }

.navigation {
  width: 50vw;
  height: 15vh;
  text-align: end; }
  .navigation__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .navigation__menu--li {
    display: inline-block; }

.link {
  text-decoration: none;
  font-size: 2vmin;
  font-weight: bolder;
  color: yellow; }

.link:hover {
  font-size: 3vmin; }

.contact {
  transform: rotate(0deg);
  animation: contact 1s ease 1s infinite alternate none; }

.billboard {
  width: 35vw;
  font-size: 2vmin;
  font-weight: bolder;
  color: yellow;
  animation: animacja 5s ease 1s infinite alternate none; }

/*Footer*/
.botton {
  width: 45vw;
  text-align: end;
  font-size: 2vmin;
  color: yellow; }

.facebook {
  color: blue;
  text-decoration: none; }

/*MAIN*/
.section__main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 75vw;
  flex-direction: row; }

.paragraph__main {
  text-align: center;
  font-size: 6vmin; }

.attention {
  margin: 4vw;
  transform: rotate(35deg); }

.attention__one {
  margin: 4vw; }

.area__title {
  margin: 2vw; }

.section__area {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 75vw;
  justify-content: space-around;
  padding-bottom: 3vmin; }

.area {
  display: inline; }
  .area__towns {
    font-size: 3vmin;
    display: inline-block;
    transform: rotate(45deg); }

/*OFFER*/
.section__offer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto; }

.li__offer {
  display: inline;
  font-size: 3vmin;
  text-decoration: underline; }

/*Contact*/
.section__contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto; }

.paragraph__contact {
  text-align: center;
  font-size: 3vmin; }

/*ANNIMACJE*/
.tel {
  width: 4vmin;
  height: 4vmin; }

@keyframes contact {
  0% {
    rotate: 10deg; } }

@keyframes animacja {
  0% {
    margin-left: 0;
    background: black; }
  25% {
    margin-left: 5%;
    background: #1a1919; }
  50% {
    margin-left: 15%;
    background: #777573; }
  75% {
    margin-left: 30%;
    background: #3a3b3a; }
  100% {
    margin-left: 60%;
    background: #0a0c0a; } }

@media screen and (min-width: 600px) {
  .navigation__menu {
    flex-direction: row !important; } }
